/*.form-group{*/
/*    display: block;*/
/*}*/

/*.form-control-label{*/
/*    margin-left: 20px;*/
/*}*/

/*.error-message{*/
/*    color: red;*/
/*}*/

/*.form-group{*/
/*    margin-bottom: 0;*/
/*    margin-top: 10px;*/
/*}*/

/*.card-header{*/
/*    background-color: #fafbfc;*/
/*    border-bottom: 1px solid #dbe6e9;*/
/*}*/

/*.card-footer{*/
/*    background-color: #fafbfc;*/
/*    border-top: 1px solid #dbe6e9;*/
/*}*/

/*.card-body{*/
/*    background: #fff;*/
/*}*/

.notification-block-message {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 1000;
}

#search-input {
    max-height: 500px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1000;
    background: white;
    overflow-y: auto;
    box-shadow:  2px 2px 2px 1px rgb(0 0 0 / 30%)
}

.search-item:last-child{
    margin-bottom: 10px;

}

.search-item:hover{
    color: #fff;
    background: #4fc2f6;
    cursor: pointer;
}

.selected-product{
    margin-top: 10px;
    border: 1px solid #d7d7d7;
    max-width: 200px;
}

.selected-product img{
    padding: 5px;
}
.search-product-text {
    padding: 5px;
    max-width: 200px;
}

.entity-item-delete:hover{
    cursor: pointer;
}

