{% extends "@Modules/outofstockreminder/views/templates/layout.html.twig" %}

{% block content %}
        <a href="{{ url }}" class="btn btn-primary">{{ "Create" |trans({}, 'Modules.OutOfStockReminder.Admin')}}</a>
        <div class="row">
            <div class="col">
                {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': gridView} %}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/outofstockreminder/views/js/delete.js') }}"></script>
{% endblock %}